@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}


@layer base {
  :root {
    --background: 191 50% 100%;
    --foreground: 191 62% 4%;
    --muted: 191 34% 86%;
    --muted-foreground: 191 13% 34%;
    --popover: 191 50% 100%;
    --popover-foreground: 191 62% 4%;
    --card: 191 50% 100%;
    --card-foreground: 191 62% 4%;
    --border: 191 4% 95%;
    --input: 191 4% 95%;
    --primary: 191 77% 51%;
    --primary-foreground: 191 77% 11%;
    --secondary: 191 19% 90%;
    --secondary-foreground: 191 19% 30%;
    --accent: 191 19% 90%;
    --accent-foreground: 191 19% 30%;
    --destructive: 19 93% 30%;
    --destructive-foreground: 19 93% 90%;
    --ring: 191 77% 51%;
    --chart-1: 191 77% 51%;
    --chart-2: 191 19% 90%;
    --chart-3: 191 19% 90%;
    --chart-4: 191 19% 93%;
    --chart-5: 191 80% 51%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 191 55% 0%;
    --foreground: 191 33% 97%;
    --muted: 191 34% 14%;
    --muted-foreground: 191 13% 66%;
    --popover: 191 55% 0%;
    --popover-foreground: 191 33% 97%;
    --card: 191 55% 0%;
    --card-foreground: 191 33% 97%;
    --border: 191 4% 10%;
    --input: 191 4% 10%;
    --primary: 191 77% 51%;
    --primary-foreground: 191 77% 11%;
    --secondary: 191 9% 17%;
    --secondary-foreground: 191 9% 77%;
    --accent: 191 9% 17%;
    --accent-foreground: 191 9% 77%;
    --destructive: 19 93% 57%;
    --destructive-foreground: 0 0% 0%;
    --ring: 191 77% 51%;
    --chart-1: 191 77% 51%;
    --chart-2: 191 9% 17%;
    --chart-3: 191 9% 17%;
    --chart-4: 191 9% 20%;
    --chart-5: 191 80% 51%;
  }
}



@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
